<select class="form-control" id="<%- id %>" name="<%- name %>"  <%- required %> <%- multiple ? "multiple" : "" %> >
	<option value="" <%- value === "" ? "selected" : ""%>>Please select</option>
	<% options.forEach(function(item) {%>
		<option value="<%- item %>" <%- value === item ? "selected" : "" %>><%- item %></option>
	<% }) %>
</select>