<%- include ./header-admin %>
<div class="navbar">
	<h5 class="title"><%- name %> Index</h5>
	<div>
		<span class="fields-link "><a href="/admin/fields/<%- slug %>" class="btn btn-secondary btn-sm"><%- name %> Fields</a></span>
		<span class="create-link "><a href="/admin/<%- slug %>/create" class="btn btn-secondary btn-sm">New <%- name %></a></span>
	</div>
</div>
<%- include ./template-parts/gridded.ejs %>

<%- pagination(query, data, slug, req) %>
<%- include ./footer-admin %>

