<%
if (data.length > 0) {
	var instance = new Date().getTime();
	var keys = model.fields.adminIndex || Object.keys(data[0]);
	keys = _.filter(keys, {visible:true});
	keys = _.map(keys, "property");
%>
<div id="table_<%- instance %>" class="container-fluid gridded">
	<div style="min-width:100%;width:<%- keys.length <= 8 ? "100%;margin-right:17px;" : (keys.length + 1) * 150 + "px" %>;position: absolute;">
		<div class="row header m-0">
			<% keys.forEach(function(attribute) {
                if (!attribute) {
                    return;
                }
            %>
			<div class="col-1 border-right border-top p-1"><%- helpers.inflector.classify(helpers.inflector.underscore(attribute)) %></div>
			<% }) %>
			<div class="col-1 border-top text-right p-1">Actions</div>
		</div>
		<%
		data.forEach(
		function(row) {
		%>
		<div class="row m-0 border-top row-striped" data-row-id="<%- row[model.primaryKey] %>" data-bindid="view">
			<%
			keys.forEach(function(attribute) {
				if (!attribute) {
					return;
                }
			//if (attribute !== model.primaryKey) {
			%>
			%>
			<div class="col-1 p-1 border-right">
				<%- helpers.format(model, attribute, row[attribute]) %>
			</div>
			<%
			//}
			});
			%>
			<div class="col-1 p-1 actions td-actions text-right">
				<button class="btn btn-link edit" data-bindid="edit">
					<i class="material-icons">edit</i>
				</button>
				<button class="btn btn-link delete" data-bindid="delete">
					<i class="material-icons">close</i>
				</button>
			</div>
		</div>
		<% }
		); //end forEach
		%>
	</div>
</div>
<style>
	#table_<%- instance %> .col-1 {
		min-width: <%- keys.length <= 8 ? 100 / (keys.length + 1) + "%" : '150px'%> !important;
		max-width: <%- keys.length <= 8 ? 100 / (keys.length + 1) + "%" : '150px'%> !important;
		float: left;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

	}
</style>

<%
}  else { %>
<div class="row p-4">
	<div class="col">
		<strong>No <%- helpers.inflector.pluralize(name) %> Yet</strong><br/>
		<a href="/admin/<%- slug %>/create" class="d-none">Create your first</a>
	</div>
</div>
<% } %>