<div class="pagination-container fixed-bottom border-top">
	<%
	var q = _.clone(query);
	if (query.where) {
		var where = "?where=" + JSON.stringify(q.where) + "";
	} else {
		where = "?";
	}
 	%>
	<% if (req.count && req.limit && req.offset >= 0) {
		var totalPages = Math.ceil(req.count / req.limit);
		var currentPage = Math.ceil(req.offset / req.limit);
		var maxPages = 20;
		var nextPage = Math.min(currentPage + 1, totalPages);
		var previousPage = Math.max(currentPage - 1, 0);
		var start = Math.max(currentPage - 1, 0);
		var end = Math.min(start + maxPages, totalPages);

		if (end - start < maxPages) {
			start = Math.max(end - maxPages, 0);
		}


	%>


	<div
			data-totalItems="<%= req.count %>"
			data-totalPages="<%= totalPages %>"
			data-currentPage="<%= currentPage %>"
			data-nextPage="<%= nextPage %>"
			data-previousPage="<%= previousPage %>"
			data-start="<%= start %>"
			data-end="<%= end %>"
			data-skip="<%= req.offset %>"
			data-limit="<%= req.limit %>"
	>
		<ul class="pagination bg-light justify-content-center">
			<% if (start >= 0) {

			%>
			<li class="page-item" data-bindid="pagination-beginning" data-offset="0">
				<a class="page-link" href='/admin/<%- slug %><%= where %>&limit=<%- req.limit %>' aria-label="Previous">
					<i class="material-icons">first_page</i>
					<span class="sr-only">First Page</span>
				</a>
			</li>
			<% }
			if (previousPage > 0) { %>
			<li class="page-item" data-bindid="pagination-previous" data-offset="<%= previousPage * req.limit %>">
				<a class="page-link" href="/admin/<%- slug %><%= where %>&offset=<%- previousPage * req.limit %>&limit=<%- req.limit %>"
				   aria-label="Previous 50 results">
					<i class="material-icons">chevron_left</i>
					<span class="sr-only">Previous Page</span>
				</a>
			</li>
			<% }

			for(var i = start; i < end; i++) { %>
			<li class="page-item <%= (i) * req.limit == req.offset ? "active" : "" %>"
				data-bindid="pagination" data-offset="<%= (i) * req.limit %>"
			>
				<a class="page-link" href="/admin/<%- slug %><%= where %>&offset=<%- (i) * req.limit %>&limit=<%- req.limit %>"
				   aria-label="Switch to page <%= i + 1 %>">
					<%= i + 1 %>
				</a>
			</li>
			<% }
			if (nextPage != totalPages) { %>
			<li class="pagination-item" data-bindid="pagination-next" data-offset="<%= nextPage * req.limit %>">
				<a class="page-link" href="/admin/<%- slug %><%= where %>&offset=<%- nextPage * req.limit %>&limit=<%- req.limit %>"
				   aria-label="Next">
					<i class="material-icons">chevron_right</i>
					<span class="sr-only">Next Page</span>
				</a>
			</li>
			<% } %>
		</ul>
	</div>
	<% } %>
	<% if (totalPages > 1) { %>
	<div class="page-counter">
		<%- start %> to <%- end %> of <%- totalPages %> Pages
	</div>
	<% } %>
</div>

<style>
	.page-counter {
		position: absolute;
		top:10px;
		left:5px;
		z-index: 1;
	}
</style>