<% if (
		(model.properties[key] && model.properties[key].type === "object") ||
		(model.relations && model.relations[key])
) { %>
<div class="col-lg-12">
	<div class="form-group row">
		<label class="label col-lg-1 col-md-2"><%- helpers.inflector.humanize(helpers.inflector.underscore(key)) %></label>
		<div class="col-lg-11 col-md-10 ">
			<div class="card">
				<script>
					var <%- key %> = <%- JSON.stringify(value) %>;
				</script>
				<div class="card-body " data-json-view="<%- key %>">
				</div>
			</div>
		</div>
	</div>
</div>
<% } else { %>
<div class="col-lg-6">
	<div class="form-group row">
		<label class="label col-sm-3"><%- helpers.inflector.humanize(helpers.inflector.underscore(key)) %></label>
		<div class="col-sm-9">
			<div class="card">
				<div class="form-control" style="height: auto;min-height: 40px;">
					<%
					if (model.foreignKeys && model.foreignKeys[key]) {
						var m = "";
						var name = value;
						if (model.foreignKeys[key].modelClass) {
							if (model.foreignKeys[key].modelClass.schema) {
								m = helpers.inflector.dasherize(
										helpers.inflector.underscore(
												helpers.inflector.singularize(model.foreignKeys[key].modelClass.schema.tableName)
										)
								);

							}
						}

						if (data.foreignKeys && data.foreignKeys[key] && data.foreignKeys[key].name) {
							name = data.foreignKeys[key].name;
						}
					%>
					<a href="/admin/<%- m %>/<%- value %>/view">
						<%- name %>
					</a>
					<%
					} else {
					%>
					<%- value %>
					<%
					}
					%>
				</div>
			</div>
		</div>
	</div>
</div>
<% } %>
