<% if (helpers._.isObject(value) && !helpers._.isDate(value)) {

    let instance = key + "_" + Math.round(Math.random()*10000);

%>
        <div class="col-12"></div>
        <label class="label col-md-2 mb-2"><%- key %></label>
        <div class="col-md-10 mb-2">
            <div class="card">
                <script>
                    var <%= instance %> = <%- JSON.stringify(value) %>;
                </script>
                <div class="card-body" data-json-view="<%= instance %>">
                </div>
            </div>
        </div>
<% } else { %>
    <% if (model.schema.properties[key] && model.schema.properties[key].maxLength && model.schema.properties[key].maxLength > 1000) { %>
        <label class="label col-md-2 mb-2"><%- helpers.inflector.classify(helpers.inflector.underscore(key)) %></label>
        <div class="col-md-4 mb-2">
            <div class="form-control"
                 style="height: auto;min-height: 40px;overflow: hidden;text-overflow: ellipsis">
                <% if (key === "url") { %>
                    <img src="<%- value %>" class="w-100" />
                <% } %>
                <%- helpers.format(model, key, value) %>
            </div>
        </div>
    <% } else { %>
        <label class="label col-md-2 mb-2"><%- key %></label>
        <div class="col-md-4 mb-2">

            <div class="form-control"
                 style="height: auto;min-height: 40px;overflow: hidden;text-overflow: ellipsis">
                <%

                    let m = "";
                    let tableName;
                if (model.foreignKeys && model.foreignKeys[key]) {

                    var name = value;
                    let foreignKeyModel = global.modelCache[model.foreignKeys[key].modelClass];
                    if (foreignKeyModel) {
                        tableName = foreignKeyModel.tableName;
                        m = helpers.inflector.dasherize(
                                helpers.inflector.underscore(
                                        helpers.inflector.singularize(tableName)
                                )
                        );
                    } else {
                    	m = "unknown";
                    }

                    if (data.foreignKeys && data.foreignKeys[key] && data.foreignKeys[key].name) {
                        name = data.foreignKeys[key].name;
                    }
                %>
                <a href="/admin/<%- m %>/<%- value %>/view">
                    <%- name %>
                </a>
                <%
                } else {
                %>
                    <%- helpers.format(model, key, value) %>
                <%
                }
                %>
            </div>
        </div>
    <% } %>
<% } %>
